


input[type="text"], portion input[type="email"], portion textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
}