.navbar-end >  a{
    background-color: rgb(22, 109, 203);
}
.heros{
    background-image: linear-gradient(to bottom, rgba(0, 38, 100, 0.6), rgba(0, 38, 100, 0.5)),url(asset/interior2.png);
    background-size: cover;
}